<body>
    <div class="jumbotron jumbotron-fluid jumbo-mid">
        <div class="container">
        <h1 class="display-4 title-f">Previous Employment</h1>
            <ul>
                <li>Cape Girardeau Public Schools</li>
                    <ul>
                        <li>Long Term Sub 7th Grade Science Teacher / Special Education Aid / In School Suspension Instructor (2013-2015)</li>
                        <li>Substitute Teacher (2012)</li>
                    </ul>
                <li>The City of Cape Parks and Recreation Department</li>
                    <ul>
                        <li>Lifeguard Manager / Lifeguard Instructor (2006-2014)</li>
                    </ul>
                </ul>
        </div>
    </div>
</body>
