<body>
    <div class="jumbotron jumbotron-fluid jumbo-mid">
        <div class="container pad">
        <h1 class="display-4 title-f">Portfolio</h1>
        <ul>
            <li>Github Link: <a style="color: blue;" href="https://github.com/Leimerm">https://github.com/Leimerm</a></li>
            <li>Shelly Blue Book</li>
                <ul>
                    <li>A website that could be utilized for a car dealership to allow customers to view their inventory, receive a trade in estimate, schedule a service appointment, and for employees to add cars to the inventory.</li>
                    <li><a style="color: blue;" href="https://shelly-blue-front.herokuapp.com/">https://shelly-blue-front.herokuapp.com/</a></li>
                </ul>
            <li>Codeflix</li>
                <ul>
                    <li>A website that allows users to catalog, rate, and review movies.</li>
                    <li><a style="color: blue;" href="https://codeflix-movie-front.herokuapp.com/home">https://codeflix-movie-front.herokuapp.com/home</a></li>
                </ul>
        </ul>
        </div>
    </div>
</body>>
