
<body>
    <div class="jumbotron jumbotron-fluid jumbo-top container">
        <div class="container intro">
            <div>
                <h1 class="display-4 title-f">Introduction</h1>
                <p class="">
                    Currently, I am looking to enter the coding industry as a junior developer.
                    I have fundamental and well rounded skill set using both front, and back end languages.
                    Coming from a background in education, I know I can bring a collaborative mindset and become a strong part of any development team.
                </p>
            </div>
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF7nxb3ZeoHMQ/profile-displayphoto-shrink_400_400/0?e=1608768000&v=beta&t=MEPLoIdAwKm10spOOsJsnFs-RLo6dCe197aKnEfWapw">
        </div>
    </div>
    <app-root></app-root>
</body>
