<body>
    <div class="jumbotron jumbotron-fluid jumbo-mid container">
        <div class="container">
        <h1 class="display-4 title-f">Current Employment</h1>
            <ul>
                <li>Cape Girardeau Public Schools</li>
                    <ul>
                        <li>7th Grade Science Teacher and Science Department Chair (2015-Present)</li>
                        <li>Head Junior High Esports Coach (2019-Present)</li>
                        <li>Junior High Science Club Co-Sponser</li>
                    </ul>
            </ul>
        </div>
    </div>
</body>
