<body>
    <div class="jumbotron jumbotron-fluid jumbo-mid">
        <div class="container">
            <h1 class="display-4 title-f">Training</h1>
            <div class="intro">
                        <ul class="mt-1">
                            <li>Codefi</li>
                                <ul>
                                <li>Code Labs One, 2020</li>
                                </ul>
                            <li>Udacity</li>
                                <ul>
                                    <li>Front End Web Developer’s Fundamentals</li>
                                </ul>
                            <li>Proficient Coding and Mark-up Languages</li>
                            <ul>
                                <li>Ruby</li>
                                <li>Ruby on Rails</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                                <li>Angular</li>
                            </ul>
                        </ul>
            </div>
        </div>
    </div>
</body>

